# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform/tfplan.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.aws/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local

.DS_Store
node_modules/

*.log
dist/